<body>
  <div class="body">
  <h1>Apresentação</h1>
  <div class="dados1">Nome: Iago Martuci<br>
    Curso: Desenvolvimento de Sistemas - 2 Módulo<br>
    Objetivo Profissional: Trabalhar na área de tecnologia.<br>
    Hobbies: Música, podcast e games.<br>
    Linkedin: <a href="https://www.linkedin.com/in/iagomartuci/" target="_blank" rel="noopener noreferrer">/iagomartuci</a><br>
    Github: <a href="https://github.com/IagoMartuci/projetoApresentacao.git" target="_blank" rel="noopener noreferrer">IagoMartuci</a><br>
  </div><!--dados1-->
    <div class="dados2">Nome: Jhonatas Souza<br>
      Curso: Desenvolvimento de Sistemas - 2 Módulo<br>
      Objetivo Profissional: Frond-End <br>
      Hobbies: Jogar Futebol<br>
      Linkedin:<br>
      Github: <a href ="https://github.com/Jhonatas-2004/projetoApresentacao.git" target="_blank" rel="noopener noreferrer">Jhonatas-2004</a><br>
    </div><!--dados2-->
  </div><!--/body-->
  </body>
  <router-outlet></router-outlet>
