<body><div class="body">
<h1>Apresentação</h1>
<div class="dados1">Nome: Iago Martuci<br>
  Curso: Desenvolvimento de Sistemas - 2 Módulo<br>
  Objetivo Profissional: <br>
  Hobbies: <br>
  Linkedin: <br>
  <a href="https://github.com/IagoMartuci/projetoApresentacao.git" target="_blank" rel="noopener noreferrer">Github</a><br></div>
  <div class="dados2">Nome: Jhonatas Souza<br>
    Curso: Desenvolvimento de Sistemas - 2 Módulo<br>
    Objetivo Profissional: <br>
    Hobbies: <br>
    Linkedin: <br>
    Github: <br></div>
</div><!--/body-->
</body>
<router-outlet></router-outlet>
